@@include('../shared/header.html', {
    "style": [
        "assets/css/main.css"
    ]
})
    <h2 class="content">Biodata</h2>
    <main class="box">
        <table >
            <tbody>
                <tr>
                    <td>Nama</td>
                    <td>:</td>
                    <td>Salt Academy</td>
                </tr>
                <tr>
                    <td>Tempat, Tanggal Lahir</td>
                    <td>:</td>
                    <td>Jakarta Selatan, 18 Agustus 2020</td>
                </tr>
                <tr>
                    <td>Alamat</td>
                    <td>:</td>
                    <td>Jakarta Selatan</td>
                </tr>
                <tr>
                    <td>Hobi</td>
                    <td>:</td>
                    <td>
                        <ul type="square">
                            <li>Ngoding</li>
                            <li>Ngopi</li>
                            <li>Ngemil</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Foto</td>
                    <td>:</td>
                    <td><img src="./assets/image/slat_academy.png" alt="Salt Academy"></td>
                </tr>
                <tr class="box__socials">
                    <td>Social Media</td>
                    <td>:</td>
                    <td>
                        <ol type="1">
                            <li class="box__social--blue"><a href="https://www.facebook.com/andarpratama">Facebook</a></li>
                            <li class="box__social--red"><a href="https://www.instagram.com/andarpratama/">Instagram</a></li>
                            <li class="box__social--grey"><a href="https://twitter.com/andarpratama">Twitter</a></li>
                        </ol>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
@@include('../shared/footer.html', {
    "script": [
        "assets/js/app.min.js"
    ]
})