@@include('../shared/header.html', {
  "style": [
    "assets/css/main.css"
  ]
})
<div class="hero">
  <img src="assets/image/profile1.png" alt="Nur Muhamad Soleh">
  <div class="hero__content">
      <h3>I'am web Devlopber Based in Jakarta, Indonesia!</h3>
      <h2>Freel Free to look my work and see if you like them!</h2>
  </div>
</div>
<article class="container">
  <h3 class="container__content">My Skills</h3>
  <div class="container__box">
      <img src="assets/image/profile1.png" alt="My Sklis" class="container__media">
      <ol type="1" class="container__box--list">
          <li>HTML</li>
          <li>CSS & FRAMEWORK</li>
          <li>JAVASCRIPT & FRAMEWORK</li>
          <li>Another skill</li>
          <li>Some other skill</li>
      </ol>
      <ol type="1" class="container__box--list">
          <li>HTML</li>
          <li>CSS & FRAMEWORK</li>
          <li>JAVASCRIPT & FRAMEWORK</li>
          <li>Another skill</li>
          <li>Some other skill</li>
      </ol>
  </div>
</article>
@@include('../shared/footer.html', {
  "script": [
    "assets/js/app.min.js"
  ]
})